.label-font {font-size:22px; font:sans serif; font-weight:700}
.label-font2 {font-size:16px; font:sans serif; font-weight:400}
div.css-1s0xhnp {visibility: hidden;}
div.streamlit-expanderHeader.st-dl {font-size:20px; font-weight:700}
